[submodule "cookbook"]
	path = cookbook
	url = https://gitlab.redox-os.org/redox-os/cookbook.git
	branch = master
[submodule "installer"]
	path = installer
	url = https://gitlab.redox-os.org/redox-os/installer.git
	branch = master
[submodule "isolinux"]
	path = isolinux
	url = https://gitlab.redox-os.org/redox-os/isolinux.git
	branch = master
[submodule "redoxfs"]
	path = redoxfs
	url = https://gitlab.redox-os.org/redox-os/redoxfs.git
	branch = master
[submodule "bootloader-coreboot"]
	path = bootloader-coreboot
	url = https://gitlab.redox-os.org/redox-os/bootloader-coreboot.git
	branch = master
[submodule "redox-initfs"]
	path = redox-initfs
	url = https://gitlab.redox-os.org/redox-os/redox-initfs.git
[submodule "bootloader"]
	path = bootloader
	url = https://gitlab.redox-os.org/redox-os/bootloader
	branch = aarch64-revival
[submodule "kernel"]
	path = kernel
	url = https://gitlab.redox-os.org/redox-os/kernel
	branch = aarch64-revival
[submodule "rust"]
	path = rust
	url = https://gitlab.redox-os.org/redox-os/rust
	branch = aarch64-revival
[submodule "relibc"]
	path = relibc
	url = https://gitlab.redox-os.org/redox-os/relibc
	branch = aarch64-revival
